/* TIPOGRAFÍAS */

@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: local("Teko"), url(fonts/Teko/Teko-Regular.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), url(fonts/OpenSans/OpenSans-Regular.woff) format("woff");
}

/* RESET */

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #00263a;
  height: 100%;
  font-family: "OpenSans", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", "sans-serif";
  color: #00bbdc;
}

header {
  text-align: center;
}

section {
  max-width: 1080px;
  margin-top: 3em;
  margin-left: 12%;
  margin-right: 12%;
  color: #c9c9c8;
}

a {
  color: #c9c9c8;
  text-decoration: none;
}

#logo {
  width: 60vmin;
}

#social {
  margin-top: 2em;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

#social figure {
  display: flex;
}

#social img {
  width: 10vmin;
}

#social figcaption {
  margin-left: 1em;
  margin-top: 0.5em;
}

footer {
  text-align: center;
  color: #c9c9c8;
  margin-top: 2em;
}

footer div {
  padding: 0.5em;
}
