/* TIPOGRAFÍAS */

@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: local("Teko"), url(fonts/Teko/Teko-Regular.woff) format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"),
    url(fonts/OpenSans/OpenSans-Regular.woff) format("woff");
}

/* RESET */

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #5095BF;
  color: #0A0B21;
  height: 100%;
  font-family: "OpenSans", "sans-serif";
  font-size: 18px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", "sans-serif";
  font-weight: inherit;
}

header {
  text-align: center;
  margin-top: 4em;
}

section {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: chocolate;
  text-decoration: none;
  font-style: italic;
}

#logo {
  width: 60vmin;
  max-width: 720px;
}

#social {
  width: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  border-radius: 35px;
}

#social figure {
  display: flex;
}

#social img {
  width: 5vmin;
  max-width: 60px;
}

#social figcaption {
  margin-left: 1em;
  margin-top: 0.5em;
}

#about div {
  display: flex;
}

#about img {
  width: 100%;
  height: auto;
  border-radius: 5%;
  margin-top: 2em;
  border-style: outset;
  border-width: 8px;
}

#about figcaption {
  font-size: 16px;
}

footer {
  text-align: center;
  margin-top: 2em;
  background-color: #F2F2F2;
}

footer div {
  padding: 0.5em;
}

@media only screen and (max-width: 600px) {
  #social {
    width: auto;
    border-radius: initial;
  }
  #about div {
    flex-wrap: wrap;
  }
}
